network/docker-compose/network-config.json
network/docker-compose.yaml

network_resources/config
network_resources/crypto-config

# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
.DS_Store

.gradle
local.properties
target
*.idea